/**
* TABLE
*/
.gedeon-contentlist .tableholder{
	background-color:#fafafa;
	flex-grow:1;
	overflow-x: auto;
}

.gedeon-contentlist .hscroll{
	width: max-content;
}

.gedeon-contentlist table {
	caption-side: bottom;
	width: 100%;
	vertical-align: top;
	border-color: #ddd;
}

.gedeon-contentlist thead{
	position: sticky;
	top: 0;
	background: #fff;
	z-index:200;
}

/* Selection column sticky on the left */
.gedeon-contentlist tr:nth-child(even) .contentCell.select{
	background-color:#fff;
	position: sticky;
	left:0;
	z-index:100;
}

.gedeon-contentlist tr:nth-child(odd) .contentCell.select{
	background-color:#eee;
	position: sticky;
	left:0;
	z-index:100;
}

.gedeon-contentlist .headerCell.select{
	background-color:#fff;
	position: sticky;
	left:0;
	top:0;
	z-index:200;
}


.gedeon-contentlist tr{
	border: 0.1rem solid #ddd;
}

.gedeon-contentlist tbody tr:hover > td{
	background: #ccc;
}


.gedeon-contentlist tbody tr:nth-child(even) {
	background: #fff
}
.gedeon-contentlist tbody tr:nth-child(odd) {
	background: #eee
}

.gedeon-contentlist td{
	padding: .25rem .25rem;
	overflow-wrap: break-word; 
}

.gedeon-contentlist th{
	padding: .5rem .5rem;
}

.stateColumn select {
	max-width:1.5rem;
}

/**
* Header sort items
*/
.sortable{
	display:inline-block
}

.sortable .up{
	cursor: pointer;
	margin: -0.5rem 0 0 0.6rem;
}

.sortable .down{
	cursor: pointer;
	margin: -0.5rem 0 0 0.6rem;
}

.sortable .up:after{
	content : "\25B3";
}

.sortable .up.activated:after{
	content : "\25B2";
}

.sortable .down:after{
	content : "\25BD";
}

.sortable .down.activated:after{
	content : "\25BC";
}

.resizecolumn {
	display: flex;
	margin-right: -1rem;
}

.columnHeader:hover .resizecolumn{
	cursor: col-resize;
}

.columnHeader .resizecolumn span{
	width: 0.2rem;
	margin: 0 0.5rem;
}

.columnHeader:hover .resizecolumn span{
	background-color:#aaa;
	
}








/**
* Upper actions list
*/
.actionsBar{
	margin-bottom: 0.5rem;
}



/**
* Contextual menu
*/

.contextualmenu_holder{
	display:none;
}

.contextualmenu_holder.active{
	display:block;
	position:absolute;
	border: 2rem solid transparent;
	z-index:1000;
}

.contextualmenu{
	background-color: #333;
	color: #fff;
	box-shadow: 0.4rem 0.4rem 0.4rem #333;
	display:inline-block;
}

.contextualmenu.sub{
	position:relative;
}

.contextualmenu .cmsplitter{
	background-color: #aaa;
	height:0.1rem;
}

.contextualmenu .action-item{
	padding: 0 0.5rem;
	border-radius:0;
	margin : 0;
	padding: 0.1rem 0.5rem 0.3rem 0.5rem;
}

.contextualmenu .action-item.sub:after{
	content:"\25B7";
	margin-left:0.5rem;
}


.contextualmenu .action-item:hover{
	background-color: #666;
}

.contextualmenu img{
	filter:invert(100%);
	margin-right:0.5rem;
}


.actionsBar .contextualmenu {
	margin-top:2.5rem;
	position: absolute;
	display:none;
}




/**
* Pagination
*/
.gedeonPagination{
	display: flex;
	margin-top:5px;
	padding:0 0.5rem;
}

.gedeonPagination .pageItem{
	border: 0.1rem solid #ddd;
	padding: 0.2rem 1rem 0.4rem 1rem;
	font-weight:bold;
}

.gedeonPagination .pageItem:hover{
	background:#eee;
	cursor:pointer;
}

.gedeonPagination .pageItem.active{
	background:#888;
	cursor:context-menu;
	color:#fff;
}

.gedeonPagination .pageItem.disabled{
	background:#fff;
	cursor:context-menu !important;
	color:#ccc;
}

.gedeonPagination .pageItem.first{
	border-top-left-radius:0.375rem;
	border-bottom-left-radius:0.375rem;
}

.gedeonPagination .pageItem.last{
	border-top-right-radius:0.375rem;
	border-bottom-right-radius:0.375rem;
}

.gedeonPagination .pageItem.ellipsis{
	background:#fff;
	cursor:context-menu;
	padding: 0.2rem 1rem 0.4rem 1rem;
}





.filter.contensize input,.filter.contensize inputselect {
	width: 3rem;
}