.gedeonproperties {
	background:#fff;
	max-height: 100%;
	margin: auto;
	overflow-y: auto;
	padding: 0.5rem;
}

.gedeonproperties .propertiesactions{
	bottom:-0.5rem;
	background:#fff;
	margin:-0.5rem ;
	padding: 0.5rem 0rem;
	position:sticky;
}

.gedeonproperties .propertiesfield{
	background: #f3f3f3;
	border: 1px solid #ccc;
	border-radius: 0.375rem;
	margin-bottom: 0.75rem;
	margin-top: 0.25rem;
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

.gedeonproperties .propertiesfield .fieldTitle {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0.375rem;
	left: 2rem;
	padding: 0rem 0.5rem;
	position: relative;
	top: -1rem;
	width: fit-content;
	width: -moz-fit-content;
}



.gedeonproperties img{
	align-items: center;
	height:1rem;
	width:1rem;
}



.security-elt {
	padding: 0.2rem 1rem;
	border: 0.1rem solid #aaa;
	border-radius: 1rem;
	background-color: #ddd;
	margin:0.2rem 0.2rem;
}




