html, body, #root, #root>div {
	height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

/* all input types */
button, input, optgroup, select, textarea {
    margin: 0;
    margin-left: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* buttons */
button{
	background-color: #fff;
	border: 2px solid #000;
	border-radius:0.375rem;
	color:#000;
	font-weight: bold;
	padding: 5px 12px 8px 12px;
	margin-left:0.5rem;
}

button:hover{
	filter:invert(100%);
}

.activeIcon{
	height:1.25rem;
}

.activeIcon:hover{
	filter: invert(50%);
	cursor: pointer;
}

.activeIcon.disabled:hover{
	filter: invert(30%);
	cursor: context-menu;
}



/*
* Utils class
*/


.flex {
	display: flex;
}

.column {
	display: flex;
	flex-direction:column;
}

.hflex {
	display: flex;
	height:100%;
}

.hcolumn {
	display: flex;
	flex-direction:column;
	height:100%;
}

.space {
	flex-grow: 1;
}

.bold {
	font-weight: bold;
}


/*
* Application
*/
.gedeon {
	height: 100%;  
}

.header {
	background-color: #eee;
	width: 100%;
}

.footer {
	background-color: #dee2e6;
	border: 2px solid #f8f9fa;
	bottom: 0;
	height: 2rem;
	max-height: 2rem;
	padding: 0rem 0.75rem 0rem 0.75rem;
	position: sticky;
}

/** sidebar and content tabs */
.appcontent{
	flex-grow: 9;
}

/** main content tab */
.content {
  flex-flow: column nowrap;
  overflow: auto;  
  width: 100%;
}


/**
*
* Application - HEADER
* in gedeonHeaderCss
*/
.gedeonlogo {
	height: 100%;
	margin-right: 1rem;
	width: auto;
}

.gedeonlogo img {
	height: 5rem;
	width: auto;
}



/**
*
* Application - NAVBAR
*
*/
.navbar {
	background-color: #eee;
	padding:0.25rem;
}

.nav-link{
	padding:0.25rem;
	border: 0.1rem solid transparent;
	border-radius: 0.325rem;
}

.nav-link img{
	height: 2.5rem;
	margin: 0rem 0.125rem 0rem 0.125rem;
	width: auto;
}

.nav-link.active{
	background-color: #ddd;
	border: 0.1rem solid #ccc;
}

.nav-link:hover {
	background-color: #fff;
	border: 0.1rem solid #777;
}




/**
* 
*    TABS MANAGER
*
*/
.tabs {
	border-bottom: 1px solid #ccc;
	flex-wrap: wrap;
	margin : 0.5rem 0.1rem;;
}

/**
* feature tabs
*/
.tab-item {
	align-items: center;
	background: 0 0;
	border: 0.1rem solid transparent;
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	color: #07f;
	display:flex;
	border: 1px solid #eef;
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

/** on hover not active tab */
.tab-item:hover {
	border-color: #ccf #ccf #fff;
	color: #5AF;
}

/** on hover active tab, no info*/
.tab-item.active:hover {
	border-color: #ddd #ddd #fff;
	color: #555;
}

/**
* active tab
* change color of text and border
*/
.tab-item.active {
	border-color: #ddd #ddd #fff;
	color: #555;
}

/** Close Tab button */
.tab-item img {
	margin-left:0.5rem;
}



/**
* 
*   FEATURES CONTENT
*
*/
.feature{
	height: 100%;
	overflow: auto;
}


