html, body, #root, #root>div {
	height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

/* all input types */
button, input, optgroup, select, textarea {
    margin: 0;
    margin-left: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* buttons */
button{
	background-color: #fff;
	border: 2px solid #000;
	border-radius:0.375rem;
	color:#000;
	font-weight: bold;
	margin: 0.25rem;
	padding: 0.25rem 0.75rem 0.5rem 0.75rem;
}

button:hover{
	filter:invert(100%);
}

.activeIcon{
	height:1.25rem;
}

.activeIcon.disabled{
	filter: invert(30%) !important;
	cursor: context-menu !important;
}

.activeIcon:hover{
	filter: invert(50%);
	cursor: pointer;
}




/*
* Utils class
*/
.hidden {
	visibility:hidden;
}

.visible {
	visibility:visible;
}

.none {
	display:none !important;
}

.active {
	display:block;
}

.h {
	height:100%;
}

.w {
	width:100%;
}

.yover {
	overflow:auto;
}

.flex {
	display: flex;
}

.flex-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.column {
	display: flex;
	flex-direction:column;
}

.hflex {
	display: flex;
	height:100%;
}

.hcolumn {
	display: flex;
	flex-direction:column;
	height:100%;
}

.space {
	flex-grow: 1;
}

.bold {
	font-weight: bold;
}

.textSizeS {
	font-size:0.75rem;
}

.textSizeXS {
	font-size:0.6rem;
}

.textSizeL {
	font-size:1.25rem;
}

.textSizeXL {
	font-size:1.5rem;
}

.bold{
	font-weight: bold;
}

.bordered {
	border: 0.1rem solid #333;
	border-radius: 0.375rem;
}

.center {
	align-items:center;
}

.marginauto {
	margin:auto;
}

.marginright {
	margin-right:0.5rem;
}

.inlineblock {
	display: inline-block;
}

.activehover:hover {
	filter:invert(50%);
}

.wrap {
	flex-wrap: wrap;
}

/**
* Modal
*/
.modal_holder {
	background: rgba(0,0,0,0.5);
	display: none;
	height:0%;
	left:0;
	position:absolute;
	top: 0;
	width: 100%;
	z-index:1100;
}

.modal_holder.active {
	height: 100%;
	display: flex;
}

.modal {
	background: #fff;
	margin: auto;
	max-height: 100%;
	padding: 0.5rem;
}

.modal_title{
	border-bottom: 0.1rem solid #aaa;
	margin-bottom: 0.5rem;
	position: sticky;
	top:0;
}

.modal_actions{
	background: #fff;
	bottom:0;
	padding: 0.5rem 0rem;
	position:sticky;
}

/*
* Application
*/
.gedeon {
	height: 100%;  
}

.header {
	background-color: #eee;
	width: 100%;
}

/** sidebar and content tabs */
.appcontent{
	overflow: hidden;
	flex-grow: 9;
}

/** main content tab */
.content {
  flex-flow: column nowrap;
  overflow: auto;  
  width: 100%;
}


/**
*
* Application - HEADER
* in gedeonHeaderCss
*/
.gedeonlogo {
	height: 100%;
	margin-right: 1rem;
	width: auto;
}

.gedeonlogo img {
	height: 5rem;
	width: auto;
}



/**
*
* Application - NAVBAR
*
*/
.navbar {
	background-color: #eee;
	padding:0.25rem;
}

.nav-link{
	padding:0.25rem;
	border: 0.1rem solid transparent;
	border-radius: 0.325rem;
}

.nav-link img{
	height: 2.5rem;
	margin: 0rem 0.125rem 0rem 0.125rem;
	width: auto;
}

.nav-link.active{
	background-color: #ddd;
	border: 0.1rem solid #ccc;
}

.nav-link:hover {
	background-color: #fff;
	border: 0.1rem solid #777;
}




/**
* 
*    TABS MANAGER
*
*/
.tabs {
	border-bottom: 1px solid #ccc;
	flex-wrap: wrap;
	margin : 0.5rem 0.1rem;;
}

/**
* feature tabs
*/
.tab-item {
	align-items: center;
	background: 0 0;
	border: 0.1rem solid transparent;
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	color: #07f;
	display:flex;
	border: 1px solid #eef;
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	user-select: none;
}

/** on hover not active tab */
.tab-item:hover {
	border-color: #ccf #ccf #fff;
	color: #5AF;
	cursor:pointer;
}

/** on hover active tab, no info*/
.tab-item.active:hover {
	border-color: #ddd #ddd #fff;
	color: #555;
	cursor:context-menu !important;
}

/**
* active tab
* change color of text and border
*/
.tab-item.active {
	border-color: #ddd #ddd #fff;
	color: #555;
}

/** Close Tab button */
.tab-item img {
	margin-left:0.5rem;
}



/**
* 
*   FEATURES CONTENT
*
*/
.features{
	height: 100%;
	overflow: hidden;
}

.feature.active{
	height: 100%;
	display: block;
}

.feature{
	height:0;
	display:none;
}



/**
* ACTIONS ICONS
*/
.action-item{
	border: 0.1rem solid #aaa;
	border-radius:0.375rem;
	padding: 0.4rem;
	margin : 0rem 0.15rem;
	height: 100%;
	display:flex;
	align-items: center;
}

.action-item img{
	height:1.5rem;
	width:auto;
}



.dandholder{
	background-color:rgba(0,0,0,0.5);
	height:100%;
	left:0;
	position: absolute;
	top:0;
	width:100%;
}



/**
* Breadcrumb
*/
.breadcrumb {
	margin: 0.5rem 0.25rem;
}

.bread-item {
	border-bottom:0.1rem solid transparent;
	margin-left: 0.5rem;
}

.bread-item.activable {
	color:blue;
	cursor:pointer;
}

.bread-item.activable:hover {
	border-bottom:0.1rem solid #ccc
}



/**
* Breakpoint for small app
*/

.mini {
	height:0;
	width:0;
	visibility:hidden;
}


@media only screen and (max-width: 720px) {
	.appcontent {
		flex-direction:column;
	}

	.sidebar .column{
		flex-direction:row;
	}

	.maxi {
		display: none;
	}

	.mini {
		height:auto;
		width:auto;
		visibility:visible;
	}

	.nav-link img {
		height:1.5rem;
	}

	.adddoc {
		height:2rem;
	}

}


/*
* FOOTER 
*/
.footer {
	background-color: #dee2e6;
	border: 2px solid #f8f9fa;
	bottom: 0;
	/*height: 4.25rem;*/
	max-height: 2.5rem;
	overflow-y:scroll;
	padding: 0rem 0.75rem 0rem 0.75rem;
	position: sticky;
	z-index: 100;
}

.bordered-object {
	background-color: #eee;
	border: 0.1rem solid #aaa;
	border-radius: 1rem;
	cursor: pointer;
	margin: 0.2rem 0.2rem;
	padding: 0.2rem 1rem;
}

.bordered-object img{
	margin-right: 0.2rem;
}

.bordered-object:hover{
	background-color: #333;
	color: #fff;
}

.bordered-object:hover img{
	filter: invert(80%);
}

.bordered-object img:hover{
	filter: invert(100%);
}