.App {
	
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html, body, #root, #root>div {
  height: 100%;
}

.gedeon {
  height: 100%;
  margin: 0;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.content {
  grid-area: content;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.footer {
	grid-area: footer;
	grid-area: footer;
	background-color: #dee2e6;
	border: 2px solid #f8f9fa;
	padding: 0px 50px 0px 5px;
}

.contentsub {
  flex-grow: 1;
  margin: 1rem;
  overflow-y: scroll;
  background-color: orange;
  flex-basis:0;
}

@media (min-width: 30rem) {
  .gedeon {
    display: grid;
    grid-template-areas: "header header" "sidebar content" "footer footer";
    grid-template-columns: auto 1fr;
  }
}